*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: cursive;
    font-size:20px;
}
header{
    margin-bottom: 100px;
}
body{
    background:linear-gradient(to right,lightblue,lightgreen);
}
.container{
    display:flex;
    flex-direction: column;
   justify-content:center;
    align-items:center;
  
}
.selection{
    display:flex;
    justify-content:center;
    align-items: center;
    border:2px solid rgba(0,0,0,0.3);
    padding:20px;
    box-shadow:2px 4px 8px rgba(0,0,0,0.5);
    border-radius:20px;
    color:black;
}
.tab-content{
    width: 100vw!important;;
}

